@model WebMVC.Models.ShoppingCart.CartItemViewModel


<button onclick="addToCart('@Url.Action("AddBookToCart", "ShoppingCart", new { id = Model.BookId })', '@Model.BookId')" class="btn btn-primary">
    <i class="fa fa-shopping-cart"></i>
    <span id="cart-quantity-@Model.BookId" style="display: @(Model.Quantity > 0 ? "inline" : "none")">@(Model.Quantity > 9 ? "9+" : Model.Quantity.ToString())</span>
</button>

<script>
    function addToCart(url, bookId) {
        $.ajax({
            url: url,
            type: 'POST',
            success: function () {
                var quantityElement = document.getElementById('cart-quantity-' + bookId);
                var quantity = parseInt(quantityElement.innerText);
                quantity += 1;
                if (quantity > 9) {
                    quantityElement.innerText = '9+';
                } else {
                    quantityElement.innerText = quantity;
                }
                if (quantityElement.style.display === 'none') {
                    quantityElement.style.display = 'inline';
                }

                showPopup('Book added to cart.', 'success');
            },
            error: function () {
                showPopup('Error: The operation failed.', 'failure');
            }
        });
    }
</script>