@using DataAccessLayer.Entities
@using Microsoft.AspNetCore.Identity
@inject SignInManager<LocalIdentityUser> SignInManager
@inject UserManager<LocalIdentityUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - WebMVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/dropdown.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/form.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/WebMVC.styles.css" asp-append-version="true"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid d-flex justify-content-between">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">WebMVC</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Book" asp-action="Index">Books</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Properties
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Genre" asp-action="Index">Genres</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Author" asp-action="Index">Authors</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Publisher" asp-action="Index">Publishers</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Order" asp-action="Index">My orders</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Wishlist" asp-action="Detail"><i class="bi bi-star"></i> Wishlist</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="ShoppingCart" asp-action="Detail"><i class="bi bi-basket"></i> Basket</a>
                        </li>

                        if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Admin pages
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li>
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="Order" asp-action="Index">All orders</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="Account" asp-action="Index">All users</a>
                                    </li>
                                </ul>
                            </li>
                        }
                    }
                </ul>
                @if (SignInManager.IsSignedIn(User))
                {
                    <form id="navSearchForm" class="form-inline my-2 my-lg-0" action="@Url.Action("Search", "Search", new { area = "" })" method="get">
                        <div class="input-group">
                            <input id="searchInput" name="searchTerm" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="submit">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                    <script>
                            $(document).ready(function () {
                                $('#navSearchForm .btn-outline-secondary').click(function (e) {
                                    if ($(this).children('i').hasClass('fa-search')) {
                                        var searchTerm = $.trim($('#navSearchForm input[name="searchTerm"]').val());
                                        if (!searchTerm) {
                                            showPopup('Please provide a search term.', 'hint');
                                            e.preventDefault();
                                        }
                                    }
                                });

                                $('#navSearchForm').submit(function () {
                                    $(this).find(':input').each(function () {
                                        var input = $(this);
                                        if (!input.val()) {
                                            input.prop('disabled', true);
                                        }
                                    });
                                });
                            });
                        </script>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Profile">
                                <i class="fas fa-user"></i> @UserManager.GetUserName(User)
                            </a>
                        </li>
                    </ul>
                }
                else
                {
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
                        </li>
                    </ul>
                }
            </div>
        </div>
    </nav>
</header>
<div class="container">

    <main role="main" class="pb-3">
        @RenderBody()

        <script>
            function showPopup(message, type) {
                var color;
                switch (type) {
                    case 'success':
                        color = 'green';
                        break;
                    case 'failure':
                        color = 'red';
                        break;
                    case 'warning':
                        color = 'orange';
                        break;
                    default:
                        color = 'blue';
                }
                var popup = document.createElement('div');
                popup.textContent = message;
                popup.style.position = 'fixed';
                popup.style.top = '10%';
                popup.style.left = '20%';
                popup.style.width = '60%';
                popup.style.padding = '10px';
                popup.style.backgroundColor = color;
                popup.style.color = '#fff';
                popup.style.textAlign = 'center';
                popup.style.zIndex = '10000';
                popup.style.borderRadius = '10px';

                document.body.appendChild(popup);

                setTimeout(function () {
                    document.body.removeChild(popup);
                }, 3000);
            }
        </script>
    </main>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", false)
</body>
</html>